

body{
    font-family: 'Tangerine', cursive;
    color: rgba(196, 144, 41, 0.98);
    background-image:url("images/background-top.png"),url("images/background-bottom.png"),linear-gradient(to bottom, #491c0c, #340715) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top,bottom;
}

a{
    color: rgba(196, 144, 41, 0.98);
    text-decoration: none;
}
a:visited{
    color: rgba(196, 144, 41, 0.98);
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

/*
@media (min-width: 1800px) {
    .container {
        max-width: 1800px;
    }
}
*/


.header{
    height: 23%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 4%;
    color: rgba(196, 144, 41, 0.98);
    font-size: 1.5vw;
    align-items: flex-end
}

.spaceships a{
    display: inline-block;
    text-align: center;
    padding-top: 39%;;
    background-image: url("/images/drawSpaceShip.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top center;
}

.planets a{
    display: inline-block;
    text-align: center;
    padding-top: 47%;
    background-image: url("/images/drawSolarsystem.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top center;
}

.logo img{
    width: 70%;
    height: auto;
    vertical-align: unset;
/*    height: 19vh;
    background-image: url("/images/logo.png");
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: top center;*/
}

.reservation a {
    display: inline-block;
    text-align: center;
    padding-top: 37%;
    background-image: url("images/drawCalender.png");
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: top center;
}


.iss a {
    display: inline-block;
    text-align: center;
    padding-top: 42%;
    background-image: url("images/drawIss.png");
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: top center;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.focus {
    height: 79%;
}

.bigFrame{
    height: 65%;
    padding: 4% 15% 8% 16%;
    background-image: url("/images/bigframe.png");
    background-repeat: no-repeat;
    /*background-size: 78%;*/
    background-position: center top;
    background-size: contain;
}

.bigFrameContent{
    /*height: max-content;
    text-align: center;*/
    height: 29vh;
    display: flex;
}

.bigFrameContent img{
    /* margin: 9% auto;
     margin-left: 23%;
     margin-top: 9%;
     margin-bottom: 9%;
     width: 50%;*/
    margin: 0 auto;
    height: 50%;
    width: auto;
    transform: translateY(50%);
}

.plaque{
    /*height: 26%;*/
    /*height: 14vh;*/
    padding: 1% 26% 1% 26%;
    color: #26020d;
    background-image: url("/images/textPaper.png");
    background-repeat: no-repeat;
    background-position: center top;
    /*background-size: 69%;*/
    background-size: contain;
}

.text{
    font-size: 1vw;
    /*padding: 2% 4% 3% 4%;*/
    text-align: center;
    /*height: 100%;*/
    padding: 1vh 1vw;
}

.text h2{
    text-align: center;
    font-size: 2vw;
}

.detail{
    /*height: 63%;*/
    height: 48vh;
    padding: 3% 6% 7% 6%;
    background-image: url("/images/factsWindow.png");
    background-repeat: no-repeat;
    /*background-size: 79%;*/
    background-position: center top;
    background-size: contain;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

}
.grid-item {
    font-size: 1.25vw;
    text-align: center;
}
.grid-item img {
    width: 5vh;
}

/*.detail img{*/
/*    margin-left: 14%;*/
/*}*/

/*.facts img{*/
/*    margin-left: 14%;*/
/*}*/

.responsive {
    width: 75%;
    height: auto;
}

.plaque div {
    font-size: 1.5vw;
}
.plaque div p {
    display: inline-block;
    vertical-align: bottom;
}
.shiny-button {
    background: #491c0c;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 -2px 0 3px #390c00 inset, 0 5px 5px rgba(73, 28, 12, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    cursor: pointer;
    display: inline-block;
    height: 5vh;
    width: 5vh;
}
.shiny-button:hover {
     background: #26020d;
     box-shadow: 0 -2px 0 3px #160000 inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}
