body{
    font-family: 'Tangerine', cursive;
    color: #030303;
    background-image:url("images/background-top.png"),url("images/background-bottom.png"),linear-gradient(to bottom, #491c0c, #340715) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top,bottom;
}

a{
    color: rgba(196, 144, 41, 0.98);
    text-decoration: none;
}
a:visited{
    color: rgba(196, 144, 41, 0.98);
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

@media (min-width: 1800px) {
    .container {
        max-width: 1800px;
    }
}

.header{
    height: 20vh;;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 4%;
    color: rgba(196, 144, 41, 0.98);
    font-size: 3vh;
    padding-top: 2vh;
    align-items: flex-end;
}
.spaceships a{
    display: inline-block;
    text-align: center;
    padding-top: 8vh;
    background-image: url("/images/drawSpaceShip.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top center;
}
.planets a{
    display: inline-block;
    text-align: center;
    padding-top: 10vh;
    background-image: url("/images/drawSolarsystem.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top center;
}
.logo{
    height: 19vh;
    background-image: url("/images/logo.png");
    background-size: 68%;
    background-repeat: no-repeat;
    background-position: top center;
}
.reservation a {
    display: inline-block;
    text-align: center;
    padding-top: 8vh;
    background-image: url("images/drawCalender.png");
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: top center;
}

.content{
    display: flex;
    justify-content: space-evenly;
}
.bigFrame{
    height: 50vh;
    padding: 2vh;
    margin-right: 2%;
    background-image: url("/images/bigframe.png");
    background-repeat: no-repeat;
    background-size: 79%;
    background-position: center top;
}
.bigFrameContent img{
    margin-left: 9vw;
}
.plaque{
    height: 22vh;
    color: #26020d;
    background-image: url("/images/textPaper.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 62%;
}
.text{
    margin: -3vh auto 0 auto;
    width: 22vw;
    font-size: 2vh;
    padding-top: 2vh;
}
.text h2{
    text-align: center;
}

.detail{
    height: 63vh;
    padding: 3vh;
    margin-left: 1%;
    background-image: url("/images/factsWindow.png");
    background-repeat: no-repeat;
    background-size: 79%;
    background-position: center top;
}
.detail img{
    margin-left: 6vw;
}
.facts img{
    margin-left: 6vw;
}