
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 23vh;
    margin-bottom: 1.5vh;
    margin-top: 5vh;

}

.grid-item {
    font-size: 1vw;
    text-align: center;
    color: rgba(204, 167, 94, 0.98);;

}

.grid-item img {
    width: 2.5vw;
}

.grid-item p {
    margin-top: 0;
    margin-bottom: 0;
}

.facts table{
    text-align: center;
}

.facts h5 {
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 0.5vh;
    color: rgba(196, 144, 41, 0.98);
    font-size: 3vh;
}




table,
th,
td {
    border-bottom: 1px dotted rgba(219, 177, 92, 0.98);
    border-collapse: collapse;
    word-wrap: break-word;
    font-size: 2vh;
    color: rgba(214, 192, 149, 0.98);
    /*width: 21vw;*/
    column-width: 10vw;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.facts table td {
    text-align: right;
    width: 74%;
    height: 3vh;
}

.spaceship.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 26vh;
    margin-bottom: 1.5vh;
    margin-top: 4vh;
}
.spaceship.grid-container img{
    width: 8vw;
}

.iss.grid-container {
    display: grid;
    grid-template-columns: auto;
    height: 23vh;
    margin-bottom: 0.5vh;
    margin-top: 4vh;
    margin-left: 5vw;
}
.iss.grid-container img{
    width: 14vw;
}